<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Guess the gender</title>
    <%- include('./css/style'); %>
    <script type="text/javascript">
    var chooseGender;
    function mascClick(){
      chooseGender = "male";
      console.log("vous avez choisis Masculin");    
      return 1;
    }

    function femClick(){
      chooseGender = "female";
      console.log("vous avez choisis Feminin");
      return 1;
    }
  </script>
</head>
<header>
  <img src=girl.png" alt="girl sign">
  <p>Guess The Gender</p>
  <img src="../public/boy.png" alt="boy sign">
</header>
  <body>
    <div id="game">
      <p id="score">Score : <%= score %> </p>
      <div id="buttons">
        <button id="left" onclick="femClick()" name="f" value="fem">Feminin</button>
        <p id="name"><%= rows[0].name %></p>
        <button onclick="mascClick()" name="m" value="masc">Masculin</button>
      </div>
      
    </div>
  <script type="text/javascript"></script>
</body>
</html
