
body{
    margin: 0;
    background-color: rgb( 38, 38, 43 );
    font-family: 'Courier New', Courier, monospace;

}

header{
    background-color: black;
    padding: 15px;
}

header p{
    font-size: xxx-large;
    color: whitesmoke;
    text-align: center;
}

header img{
    width: 10%;
    z-index: 5;
}

#score{
    padding-right: 3%;
    float: right;
    font-size: xx-large;
    color: whitesmoke;
}

#buttons{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

button{
    background-color: rgb( 233, 60, 0 );
    width: 25%;
    padding-top: 10%;
    padding-bottom: 10% ;
    border-radius: 15%;
    border-style: double;
    border-width: 5px;
    border-color: black;
    color: whitesmoke;
    font-size: xx-large;
    transition-duration: 0.4s;
    font-family: 'Courier New', Courier, monospace;
}


button:hover{
    background-color: rgb( 0, 0, 0 );
    border-color: whitesmoke;
}

button:active{
    background-color: rgb( 0, 0, 0 );
    border-color: whitesmoke;
    color:rgb( 233, 60, 0 );
}

#left{
    margin-left: 15%;
}

#name{
    width:20%;
    text-align: center;
    font-size: xxx-large;
    color: whitesmoke;
    margin-top: auto;
    margin-bottom: auto;
}

input{
    background-color: rgb( 38, 38, 43 );
    color: whitesmoke;
    border: none;
    font-size: larger;
    float: right;
    font-family: 'Courier New', Courier, monospace;
}

#pop:hover{
    text-decoration: underline;
}

#sup:hover{
    border-color: whitesmoke;
    border-width: 1px;
    border-style: solid;
}

#sup{
    font-size: xx-large;
}

#infGame{
    display: flex;
    flex-direction: column;
    float: right;
    width: 15%;
}

#rules{
    display: none;
    color: whitesmoke;
    margin-top: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#text{
    width: 80%;
}
